doctype html
html
  head
    title Built-in echarts maps
    meta(charset="utf-8")
    style(type="text/css").
      .map{
         width: 300px;
         height: 300px;
      }
      body {
         background-color: #eee;
      }
    each country in countryFiles
      script(src="echarts/" + country+".js")
  body
    table
      tr
        each country, index in countries
          if index % 4 == 0
            | </tr><tr>
          td
            div(id=country,class="map")
    script(src="demo.js")
    script
      each country in countries
        | make_map( "#{country}" ,"#{country}");
        |
